<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <title>Munka.co - Fashion Shop for Women</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--fontawesome--> 
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--fontgoogle-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--MY CSS-->
    <link rel="stylesheet" href="style/style.css">
  </head>

   <!--START-->
  <body>
    <link rel="shortcut icon" href="image/logo/revlogomunka2.png">
    
    
    <header>
    <!--First Navbar-->
    <nav class="navbar-one flex">
      <div class="left flex mr-3">
        <a class="navbar-brand" href="index.html">
          <div class="logo">
          <img src="image/logo/3.png" style="margin: 0; width:117px "; />
          </div>
        </a>
          <div class="user dropdown" aria-labelledby="navbarDropdown">
             <span><i class="fa fa-user"></i> Login</span>
              <div class="isi-dropdown">
                <a href="view/login.html"><i class="fa fa-sign-in"></i> Sign In</a><br>
                <a href="#"><i class="fa fa-user-plus"></i> Register</a><br>
                <hr>
                <a href="#"><i class="fa fa-check"></i> Payment Confirmation</a><br>
                <a href="#"><i class="fa fa-search"></i> Track Order</a><br>
              </div>
          </div>
          </div>
        <div class="right flex">
            <div class="search-box">
              <div class="container-1">
                  <input class="search-txt" type="text" name="" placeholder="Search Product.." />
                  <a class="search-btn" href="#"></a>
                  <i class="fa fa-search"></i>
              </div>
            </div>
        <div class="language">
            <a><span> Language  <img src="image/vector/us.png" style="margin-right: 25px; width:12px; height:10px;"></span></a>
        </div>
        <div class="FAQ">
          <span>FAQ</span>
      </div>
      </div>
    </div>
  </nav>    

    <!--END CLEAR-->

     <!--Second navbar-->
     <div id="header">
      <nav class="navbar navbar-expand-lg fixed">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"><span style="color: #e29a57">Home</span></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html#judul-produk">Tops</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">Lowers</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">Outerwears</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">Bags</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">Accesories</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">Shoes</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <br><br>
  <!--End Navbar-->
</header>
    
    
    <section class="vh-100" style="background-color: #0f0f0f;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row ">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="image/about/cover2.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-1 col-lg-6 mt-4 d-flex align-items-center">
                <div class="card-body p-2 p-lg-3 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center mb-2 pb-1">
                      <img src="image/logo/4.png" style="width: 140px; height: 140px; margin-top:-70px; margin-bottom: -40px;">
                    </div>
  
                    <h5 class="fw-normal mb-1 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
                    <div class="form-outline mb-1">
                      <input type="email" id="form2Example17" class="form-control form-control-lg" />
                      <label class="form-label" type="email" placeholder=" Enter Your Email" for="form2Example17">Email address</label>
                    </div>
  
                    <div class="form-outline mb-1">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27">Password</label>
                    </div>
  
                    <div class="pt-0 mb-0">
                      <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-0 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                        style="color: #393f81;">Register here</a></p>
                        <p>or sign up with:</p>
                           <button type="button mt-0" class="btn btn-link btn-floating mx-0 mt-0">
                                            <i class="fab fa-facebook-f"></i>
                              </button>

                           <button type="button" class="btn btn-link btn-floating mx-0 mt-0">
                              <i class="fab fa-google"></i>
                          </button>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--footer-->
<footer>
  <div class="footer-bottom mt-5">
    <div class="container-fluid bg-dark">
        <div class="row pl-3">
            <div class="col-lg-3 col-md-3 col-sm-3 segment-one">
                  <a href="index.html"><img src="image/logo/5.png" style="width: 100px; height: 100px"/></a>
              </div>

      <div class="col-lg-3 col-md-3 col-sm-3 segment-two">
       <h5>Contact Us</h5>
        <ul>
           <li> Admin Munka.co at : </li>
           <li><i class="fa fa-envelope"></i> hellomunka@gmail.com</li>
           <li><a href=""><span class="fab fa-whatsapp" href="https://wa.wizard.id/ccdd17"></span> Whatsapp</a></li>   
           <img src="image/logo/QR.png"/>
          </ul>
          
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 segment-three">
      <h5>Navigation</h5>
      <ul>
          <li><a href="index.html">Home </a><br>
          <li><a href="index.html#judul-produk">Tops</a><br>
          <li><a href="#">Lowers</a><br>
          <li><a href="#">Outwears</a><br>
          <li><a href="#">Bags</a><br>
          <li><a href="#">Accesories</a><br>
          <li><a href="#">Shoes</a><br>
      </ul>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 .col-xs-15 text-left segment-four">
          <h5>Follow Us</h5>
          <li>Please Follow Us on our Social Media Profile in order to keep update.</li>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 segment-five">
        <h5>Help</h5>
        <ul>
            <li><a href="#">About </a><br>
            <li><a href="#">How To Order </a><br>
            <li><a href="#">Return & Exchange Guide</a><br>
            <li><a href="#">FAQ</a><br>
            <li><a href="#">Term & Conditions</a><br>
        </ul>
        </div>

     </div>
    </div>
  </footer>
  <div class="container-fluid bg-black">
    <div class="row">
         <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0); color: azure; font-size: 16px;">
            © 2022 Copyright
            <a class="text-white" style="font-size: 16px;" href="index.html"><span style="color: #dd7c40;">Munka</span>.co</a>
          </div>
        <!-- Copyright -->
    </div>
  </div>      



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script> //<![CDATA[
  /* Sticky Header. Auto hide on scroll bottom, show on scroll top.  */
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("header").classList.remove('show');
    }
    else { document.getElementById("header").classList.add('show');
    }
    prevScrollpos = currentScrollPos;
  }
  //]]>
</script>
</body>

</html>